.vscode/*
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

.DS_Store
Thumbs.db
/docs/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/node_modules/
/jspm_packages/

.env
.env.local
.env.*.local
.env.development
.env.production
.env.test

/dist/
/build/
/out/
/.next/

*.backup


/back/node_modules/
/back/dist/
/back/build/
/back/npm-debug.log*
/back/yarn-debug.log*
/back/yarn-error.log*
/back/.env*
/back/data/
/back/database.sqlite

/front/node_modules/
/front/dist/
/front/dist-ssr/
/front/.env*
/front/coverage/
/front/*.local

/coverage/
/playwright/*
/playwright-report
/playwright/.cache
front/playwright-report/
/test-results/*
/tests/*
front/tests/*
front/test-results/*
/archive/
/back/seeds/