services:
  back:
    build:
      context: ./back
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    volumes:
      - ./back/data:/app/data # Привязка папки для сохранения данных SQLite
    env_file:
      - ./back/.env
    environment:
      NODE_ENV: production
    command: sh -c "npm run migrate:latest && node index.js"
    restart: always

  front:
    build:
      context: ./front
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /api
    ports:
      - "80:80"
    depends_on:
      - back
    restart: always