services:
  back:
    build:
      context: ./back
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    volumes:
      - ./back/data:/app/data
    env_file:
      - ./back/.env
    environment:
      NODE_ENV: production
    command: sh -c "npm run migrate:latest && node index.js"
    restart: always
    # Security: Не пробрасываем дополнительные портов
    security_opt:
      - no-new-privileges:true

  front:
    build:
      context: ./front
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /api
        VITE_DISABLE_SW: "true"  # Установите "false" для production
    ports:
      - "80:80"
    depends_on:
      - back
    restart: always