.add-task-button {
  background-color: var(--theme-success);
  border: none;
  color: var(--color-accent);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.add-task-button:hover {
  background-color: var(--color-success-hover);
}