.detailed-task-card {
  background-color: #ffffff;
  border: 1px solid var(--theme-primary);
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease-in-out;
}

.detailed-task-card h1 {
  font-size: 1.5em;
  color: var(--theme-primary-text);
  margin-bottom: 10px;
}

.detailed-task-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailed-task-card.done {
  background-color: #f0fdf4;
}

.detailed-task-card.fixed,
.detailed-task-card.income {
  border-left: 5px solid var(--theme-primary);

}

.detailed-task-card.expense {
  border-left: 5px solid var(--theme-danger);
}

.detailed-task-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #eeeeee;
}

.detailed-task-card .card-header h3 {
  margin: 0;
  font-size: 1.25em;
  color: #333333;
}

.detailed-task-card .task-actions .action-button {
  background: none;
  border: none;
  color: #555555;
  padding: 5px;
  margin-left: 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s, color 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.detailed-task-card .task-actions .action-button.icon-button:hover {
  background-color: #f0f0f0;
  color: #333333;
}

.detailed-task-card .task-actions .action-button svg {
}

.detailed-task-card .card-body p {
  margin: 5px 0;
  font-size: 0.95em;
  color: #555555;
  line-height: 1.6;
}

.detailed-task-card .card-body p strong {
  color: #333333;
  margin-right: 5px;
}

.detailed-task-card .card-footer {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #eeeeee;
  font-size: 0.9em;
  color: #777777;
  display: flex;
  justify-content: space-between;
}

.detailed-task-card.hourly {
  border-left: 5px solid #2196f3;
}

.child-info-section {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px dashed #ccc;
}

.child-info-section h4 {
  margin-bottom: 8px;
  font-size: 1.1em;
  color: #444;
}

.child-info-section p {
  display: flex;
  align-items: center;
  margin: 4px 0;
}

.child-info-section p strong {
  margin-right: 5px;
}

.info-icon {
  margin-right: 8px;
  color: #555;
  width: 16px;
  text-align: center;
}
.amount-income {
  color: green;
}

.amount-expense {
  color: red;
}