.summary-block {
    background-color: var(--color-background-soft);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px var(--color-shadow-light);
}

.summary-wrap {
  margin: 10px;
  margin-top: 70px;
  padding: 10px;
}

.summary-block p {
    margin: 8px 0;
    color: var(--color-text-tertiary);
    font-size: 1.1em;
}

.summary-block .summary-block-title {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--color-accent);
    margin-bottom: 15px;
}

.summary-block .summary-block-week {
    font-size: 1em;
    color: var(--color-text-secondary);
    margin-top: 15px;
}

.summary-block .summary-block-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.summary-block .summary-block-row span {
    white-space: nowrap;
}

.summary-block .summary-block-value {
    font-weight: bold;
    color: var(--color-accent);
    font-size: 1.2em;
}

@media (prefers-color-scheme: light) {
    .summary-block {
        background-color: var(--color-background-soft);
        box-shadow: 0 4px 8px var(--color-shadow-light);
    }
    .summary-block p {
        color: var(--color-text-tertiary);
    }
    .summary-block .summary-block-title,
    .summary-block .summary-block-value {
        color: var(--color-black);
    }
    .summary-block .summary-block-week {
        color: var(--color-text-secondary);
    }
}