.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-modal-overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--color-modal-background);
  color: var(--color-accent);
  padding: 20px 20px 0px 20px;
  border-radius: 8px;
  width: 90%;
  height: 90vh;
  max-width: 90%;
  max-height: 90vh;
  box-shadow: 0 4px 8px var(--color-shadow-light);
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--color-accent);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 5px;
  padding-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--color-border-light);
}

.input {
  padding: 8px;
  border: 1px solid var(--color-border-medium);
  border-radius: 4px;
  font-size: 1em;
  background-color: var(--color-input-background);
  color: var(--color-accent);
}

.textarea {
  padding: 8px;
  border: 1px solid var(--color-border-medium);
  border-radius: 4px;
  font-size: 1em;
  min-height: 80px;
  background-color: var(--color-input-background);
  color: var(--color-accent);
}

.submit-button {
  background-color: var(--color-blue-accent);
  color: var(--color-accent);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  flex-shrink: 0;
}

.delete-button-form {
  background-color: var(--color-red-accent) !important;
  color: var(--color-accent);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  flex-shrink: 0;
}

.duplicate-button-form {
  background-color: var(--color-yellow-accent) !important;
  color: var(--color-accent);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  flex-shrink: 0;
}

.submit-button:hover {
  background-color: var(--color-blue-accent-hover);
}