.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-modal-overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--color-modal-background);
  color: var(--color-accent);
  padding: 20px 20px 0px 20px; /* Уменьшаем нижний отступ, чтобы кнопка submit была близко к низу */
  border-radius: 8px;
  width: 90%;
  height: 90vh; /* Почти на весь экран по высоте */
  max-width: 90%; /* Разрешаем шире на больших экранах */
  max-height: 90vh; /* Максимальная высота, чтобы не выходить за пределы окна */
  box-shadow: 0 4px 8px var(--color-shadow-light); /* Обновлено на общую переменную тени */
  position: relative;
  display: flex; /* Используем flexbox для внутреннего содержимого */
  flex-direction: column; /* Элементы внутри будут располагаться вертикально */
  box-sizing: border-box; /* Учитываем padding в общей ширине/высоте */
  overflow: hidden; /* Скрываем все, что выходит за границы modal-content */
  margin: auto; /* Центрируем модальное окно, если оно все равно выходит за пределы */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--color-accent);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1; /* Позволяет форме занимать все доступное пространство по вертикали */
  overflow-y: auto; /* Добавляем прокрутку, если содержимое превышает высоту */
  padding-right: 5px; /* Небольшой отступ справа, если появится скроллбар */
  padding-bottom: 20px; /* Отступ внизу формы, чтобы контент не прилипал к кнопке */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--color-border-light);
}

.input {
  padding: 8px;
  border: 1px solid var(--color-border-medium);
  border-radius: 4px;
  font-size: 1em;
  background-color: var(--color-input-background);
  color: var(--color-accent);
}

.textarea {
  padding: 8px;
  border: 1px solid var(--color-border-medium);
  border-radius: 4px;
  font-size: 1em;
  min-height: 80px;
  background-color: var(--color-input-background);
  color: var(--color-accent);
}

.submit-button {
  background-color: var(--color-blue-accent);
  color: var(--color-accent);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  flex-shrink: 0; /* Гарантируем, что кнопка не будет сжиматься */
}

.submit-button:hover {
  background-color: var(--color-blue-accent-hover);
}