.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #282c34; /* Темный фон */
  color: white; /* Белый текст для контраста */
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: white; /* Цвет для крестика */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #dddddd; /* Светло-серый цвет для меток */
}

.input {
  padding: 8px;
  border: 1px solid #555; /* Темная рамка */
  border-radius: 4px;
  font-size: 1em;
  background-color: #333; /* Темный фон для полей ввода */
  color: white; /* Белый текст внутри полей ввода */
}

.textarea {
  padding: 8px;
  border: 1px solid #555; /* Темная рамка */
  border-radius: 4px;
  font-size: 1em;
  min-height: 80px;
  background-color: #333; /* Темный фон для полей ввода */
  color: white; /* Белый текст внутри полей ввода */
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #0056b3;
}