.TaskItemContainer {
  background-color: #f9f9f9;
  border: 2px solid;
  border-radius: 8px;
  padding: 8px;
  min-height: 60px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TaskItemContainer.dragging {
  opacity: 0.5;
}

.TaskItemContainer.income {
  border-color: #28a745;
}

.TaskItemContainer.expense {
  border-color: #dc3545;
}

.TaskTitle {
  margin: 0;
  color: #333;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.TaskDetail {
  margin: 0;
  color: #555;
  font-size: 0.9em;
}

.TaskInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  flex-grow: 1;
  min-width: 0;
}

.ButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-top: 0;
}

.ActionButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
}

.ActionButton:hover {
  background-color: #0056b3;
}

.ActionButton.delete {
  background-color: #dc3545;
}

.ActionButton.delete:hover {
  background-color: #c82333;
}

.ActionButton.duplicate {
  background-color: #ffc107;
  color: #333;
}

.ActionButton.duplicate:hover {
  background-color: #e0a800;
}

.TaskItemMainContent {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.ExpenseCategoryName {
  font-style: italic;
  color: #6c757d;
  margin-left: 5px;
}