:root {
  --theme-primary: #44b340;
  --theme-secondary: #44b340;
  --theme-success: #44b340;
  --theme-danger: #c03947;
  --theme-info: #2196F3;

  --theme-light: #ffffff;
  --theme-dark: #242424;

  --theme-gray-light: #F0F0F0;
  --theme-gray-medium: #888888;
  --theme-gray-dark: #3A3A3A;



  --theme-primary-text: var(--theme-light);
  --theme-secondary-text: var(--theme-light);
  --theme-success-text: var(--theme-light);
  --theme-danger-text: var(--theme-light);
  --theme-info-text: var(--theme-light);


  --theme-primary-rgb: 68, 179, 64;
  --theme-secondary-rgb: 0, 86, 179;
  --theme-success-rgb: 40, 167, 69;
  --theme-danger-rgb: 220, 53, 69;
  --theme-info-rgb: 33, 150, 243;
  --theme-light-rgb: 255, 255, 255;
  --theme-dark-rgb: 36, 36, 36;
  --theme-gray-light-rgb: 240, 240, 240;
  --theme-gray-medium-rgb: 136, 136, 136;
  --theme-gray-dark-rgb: 58, 58, 58;

/* Переменные для SummaryBlock */
--color-light-grey-hover: #f0f0f0; /* Для ховера на шапке SummaryBlock */
--color-light-grey-active: #e0e0e0; /* Для активного состояния шапки SummaryBlock */
--color-icon-primary: #555555; /* Основной цвет иконок */
--color-info-background-subtle: #e0f7fa; /* Очень светлый фон для info-блоков */
--color-info-text-strong: #007c91; /* Насыщенный текст для info-блоков */
--color-info-border-subtle: #b2ebf2; /* Светлая граница для info-блоков */
--color-text-secondary: #555555; /* Вторичный цвет текста, если стандартные не подходят */
/* Конец переменных для SummaryBlock */
}

input[readonly] {
  background-color: var(--theme-gray-light);
  border: 1px solid var(--theme-gray-medium);
  color: var(--theme-gray-dark);
  cursor: default;
  opacity: 0.8;
}